/*! normalize.css 2011-11-04T15:38 UTC - http://github.com/necolas/normalize.css */article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none}[hidden]{display:none}html{font-size:100%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}body{margin:0}a:focus{outline:thin dotted}a:hover,a:active{outline:0}h1{font-size:2em}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}mark{background:#ff0;color:#000}pre,code,kbd,samp{font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:75%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}ul,ol{margin-left:0;padding:0 0 0 40px}dd{margin:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}

html {
	background-image: linear-gradient(bottom, rgb(221,221,221) 0%, rgb(240,240,240) 72%);
	background-image: -o-linear-gradient(bottom, rgb(221,221,221) 0%, rgb(240,240,240) 72%);
	background-image: -moz-linear-gradient(bottom, rgb(221,221,221) 0%, rgb(240,240,240) 72%);
	background-image: -webkit-linear-gradient(bottom, rgb(221,221,221) 0%, rgb(240,240,240) 72%);
	background-image: -ms-linear-gradient(bottom, rgb(221,221,221) 0%, rgb(240,240,240) 72%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(221,221,221)),
		color-stop(0.72, rgb(240,240,240))
	);
	background-attachment:fixed;
	font-family: Helvetica,Arial,Verdana,sans-serif;
	height: 100%;
	font-size: 12px;
	color: #222;
	text-shadow: #fff 0 1px 1px;
}
body {
}

/* layout */
#body {
}
#nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 200px;
	overflow-y: scroll;
	background-color: #fff;
	height: 100%;
	
	-moz-box-shadow: 5px 0px 5px #ccc;
	-webkit-box-shadow: 5px 0px 5px #ccc;
	box-shadow: 5px 0px 5px #ccc;
}
#content {
	position: relative;
	top: 0;
	left: 200px;
	width: 800px;
}

/* common */
a {
	color: #666;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.od-clear {
	clear: both;
}

/* od-content */
.od-content {
	padding: 20px 0 20px 40px;
}
.od-content pre {
	padding: 10px 0 10px 20px;
	border-left: 3px solid #666;
	background-color: #fff;
}
.od-content h1 {
	font-size: 28px;
}
.od-content h2 {
	margin-top: 40px;
	padding-top: 10px;
	border-top: 1px dotted #ccc;
	font-size: 22px;
	color: #333;
}
.od-content h3 {
	margin-top: 30px;
	font-size: 16px;
}

/* od-nav */
.od-nav {
	padding: 20px;
}
.od-nav .section {
	margin-bottom: 30px;
}
.od-nav .title {
	font-size: 14px;
	font-weight: bold;
	margin: 10px 0;
}
.od-nav .title a {
	color: #222;
}
.od-nav ul {
	list-style: none;
	padding: 0;
	margin: 10px 0 15px;
}
.od-nav ul li{
	margin: 10px 0 10px 5px;
}
.od-nav ul li .title {
	font-size: 12px;
	margin: 10px 0;
}
.od-nav ul ul li {
	font-size: 11px;
}



































